@import 'functions';

.dropdown {
	position: relative;

    &__menu {
        position: absolute;
        top: calc(100% + 12px);
        right: 0;
        box-shadow: 0 1px 2px getColor(grey);
        border-radius: 3px;
        background: getColor(concrete);
    }

    &__tip {
        position: absolute;
        top: -8px;
        right: 4px;
        margin: 0;
        padding: 0;
        border-left: 8px solid transparent;
        border-bottom: 8px solid getColor(concrete);
        border-right: 8px solid transparent;
    }

    &__option {
        display: block;
        width: 100%;
        font-size: 12.8px;
        padding: 0.25em 1em;
        border: none;
        outline: none;
        text-align: right;
        background: transparent;
        transition: background 250ms;

        &:not(:last-of-type) {
            border-bottom: 1px solid getColor(alto);
        }

        &:hover {
            background: getColor(alto);
        }
    }
}