@import 'vars';
@import 'mixins';
@import 'functions';

.wrapper {
    margin: 1.5em;

    &__top {
        display: flex;
        align-items: center;
    }

    &__title {
        flex: 1 1 auto;
        margin: 0;
    }

    &__influences {
        display: flex;
    }

    &__topics {
        padding: 0;
        list-style: none;
    }
}
