@import 'mixins';
@import 'functions';

.topic {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;

    @include break(medium){
        flex-direction: row;
    }

    &__title {
        font-size: 16pt;
        font-weight: bold;
        margin-right: 10px;
    }

    &__voting {
        display: flex;
        border: 1px solid lightgray;
        user-select: none;
        flex-wrap: wrap;

        @include break(medium){
            flex: 0 0 40%;
            margin-right: 30px;
            padding: 0 0 0 20px;
        }
    }

    &__score {
        align-self: center;
        font-size: 20pt;
        flex: 0 0 100%;
        text-align: center;

        @include break(medium){
            flex: 0 0 20%;
            text-align: left;
        }
    }

    &__vote {
        align-self: center;
        flex: 0 0 50%;

        @include break(medium){
            flex: 0 0 40%;
        }
    }

    // TODO: See note in account-style re shared styles

    &__vote-influence {
        color: blue;

        &:before {
            content: "◆\2009";
        }
    }

    &__vote-golden {
        color: #bfa203;

        &:before {
            content: "◇\2009";
        }
    }

    &__vote-support {
        color: green;

        &:before {
            content: "$\2009";
        }
    }
}