@import 'mixins';
@import 'functions';

.topic {
    display: flex;
    margin-bottom: 24px;
    font-size: 12.8px;

    &__content,
    &__vote {
        display: flex;
        flex-direction: column;
    }

    &__content {
        flex: 1 1 auto;

        & [class*="__inner"] {
            border-width: 0 0 2px 2px;
        }
    }

    &__title {
        flex: 0 0 auto;
        font-weight: 600;
        padding: 0.55em 1em 0.5em;
        text-transform: uppercase;
        background: transparentize(getColor(fiord), 0.75);

        &--vote {
            background: getColor(fiord);
            text-align: right;
            font-weight: 400;
            color: getColor(white);
        }
    }

    &__inner {
        flex: 1 1 auto;
        border: 2px solid transparentize(getColor(fiord), 0.75);
        border-width: 0 2px 2px 2px;
    }

    &__description {
        padding: 1em;
        line-height: 1.5;
    }

    &__sponsors {
        padding: 1em 1em 0;
    }

    &__vote {
        flex: 0 0 250px;
    }

    &__vote [class*="__inner"] {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__field,
    &__total {
        font-size: 24px;
        text-align: right;
        padding: 0.25em 16px;
    }

    &__field {

    }

    &__total {
        border-top: 2px solid transparentize(getColor(fiord), 0.75);
    }
}