@import 'vars';
@import 'mixins';
@import 'functions';

.votes {
	display: flex;
	align-items: center;
	line-height: 1;

	&__currency {
		display: inline-flex;
		flex-direction: column;
		margin-right: 12px;
	}

	&__up,
	&__down {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: 0;
		padding: 6px;
		&::after {
			content: ' ';
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
		cursor: pointer;
		transition: border-color 250ms;
	}

	&__up {
		&::after {
			border-bottom: 6px solid getColor(malibu);
			margin-bottom: 3px;
		}
		&:hover::after {
			border-bottom: 6px solid getColor(denim);
		}
	}

	&__down {
		&::after {
			border-top: 6px solid getColor(dusty-grey);
			margin-top: 3px;
		}

		&:hover::after {
			border-top: 6px solid getColor(emperor);
		}
	}

	&__score {
	}

	&__multiplier {
		margin-left: 6px;
		font-size: 0.75em;
		color: getColor(dusty-grey);
	}
}
